<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>First Step</title>
</head>
<h2>First Step: Base Note</h2>
<body>
<p>Sing a comfortable note near the middle of your voice range.</p>
<button id="recordbutton">Record</button>
<br>
<br>
</body>
<script th:src="@{/js/yin.js}" type="text/javascript"></script>
<script th:src="@{/js/audio-processor.js}" type="text/javascript"></script>
<script th:src="@{/js/results.js}" type="text/javascript"></script>
<script type="text/javascript">
    if (window.location.pathname === "/first-step") { // 현재 페이지가 '/first-step'인지 확인
        console.log("The current location is '/first-step'.");
    } else {
        console.log("The current location is not '/first-step'.");
    }
</script>
</html>
